
.work_filters{
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}

.work_item{

    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s;

}

.work_item:hover {

    color: var(--first-color);
    opacity: 1;
}

.work_container {

    grid-template-columns: repeat(3,1fr);
    gap: 1.875rem;


}

.work_card  {

    position: relative;
    /* overflow: hidden; */
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.work_mask {

    background: #6c6ce5;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s;
    opacity: 0;



}

.work_card:hover .work_mask {

    opacity: .9;

}

.work_category {

    color: aliceblue;
    background-color:var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius:0.98rem;
    position: absolute;
    top: 0px;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
     transition: .3s;
    


}

.work{
    
    color: aliceblue;
    background-color:var(--first-color);
    border-bottom-left-radius: 0.98rem;
    border-bottom-right-radius:0.98rem;
    position: absolute;
    top: 0px;
    opacity: 1;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
     transition: .3s;
    

}


.work_title {

    color: aliceblue;
    font-size: var(--h3-font-size);
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}



.work_button {

    color: aliceblue;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: #ffd15c;
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
}


.work_card:hover .work_button {
    opacity: 1;

}

.work_card:hover .work_title,
.work_card:hover .work_category
{
    opacity: 1;
    transform: translateY(0);
}







.wrapper, .single-card {
	height: 450px;
	max-width: 300px;
	margin: 0 auto;
	position: relative;
}

.wrapper {
	perspective: 900px;
}
.single-card {
	text-align: center;
	transition: all 1.5s cubic-bezier(0.7, -0.5, 0.3, 1.8);
	transform-style: preserve-3d;
}
.wrapper:hover .single-card {
	transform: rotateY(180deg);
}
.front, .back {
	width: 300px;
	position: relative;
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.front {
	cursor: pointer;
	height: 100%;
	/* background-image: ; */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 50px;
	background-size: cover;
	background-position: center center;
}
.back {
	transform: rotateY(180deg);
	position: absolute;
	border-radius: 50px;
	height: 450px;
	background: #fff;
}
.content {
	padding-top: 25%;
}
.content h2 {
	font-size: 35px;
	margin: 0;
	font-weight: 300;
}
.content h4 {
	margin: 0;
}
.socials {
	margin-top: 20%;
}
.socials i {
	font-size: 30px;
	margin: 0 10px;
}
